@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.rafat-carousel-image-size {
  height: 600px;
}
.rafat-mb-0 {
  margin-bottom: 0px;
}
.rafat-bg-dark {
  background-color: #000;
}
.rafat-small-text {
  font-size: 12px;
}
.list-group label {
  padding: 5px 0px;
  background: none;
}
.rafat-text-justify {
  text-align: justify;
}
.rafat-mt-100 {
  margin-top: 100px;
}
.rafat-mb-100 {
  margin-bottom: 100px;
}
